.output {
  display: flex;
  min-height: 400px;

  &-income {
    @include ul-style {
      color: $color-income;
    }
  }

  &-expenses {
    @include ul-style {
      color: $color-expenses;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      display: flex;
      padding: 0.5em 0;
      border-bottom: 1px solid rgb(207, 207, 207);

      &:first-of-type {
        border-top: 1px solid rgb(207, 207, 207);
      }

      span:last-of-type {
        margin-left: auto;
      }

      button {
        font-size: 1rem;
        background-color: rgb(223, 223, 223);
        color: #fff;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
