.output {
  display: flex;
  min-height: 600px;

  &-income {
    flex: 1 50%;
    padding: 2em;
    text-align: center;
    color: $color-income;
  }

  &-expenses {
    flex: 1 50%;
    padding: 2em;
    text-align: center;
    color: $color-expenses;
  }
}
